# From SQL to Pandas Challenge 3

In [1]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "titleauthor": "1F1JOiYXStWacOBca6coNVfyVtoST7ZgD",
    "titles": "1PLdn50N9GRa53ZbuVWo0l47F_IXdvlEm",
    "stores": "1f-GCgip7O93CpbAkYvOsc21eKnSOSHsQ", 
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "roysched": "1zPRZPoFPEMKyrNR5VSENeYFHGCBZmxbs", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "pub_info": "1OEgogcGKy--EpuVj0kqq7lyBZNGW6YSv", 
    "jobs": "1V1Za8hUdXD-vJOyRdX4aQV5wanIff2eM", 
    "employee": "1h9mUjsVqpP74b1w0x7KOw37n_n9Ulkt5", 
    "discounts": "111dvSxMcCsTgOuV1wDSKFJxO1Xcxd9VS", 
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
titles = pd.read_csv(gd_path(files_id["titles"]), sep=";")

## 1. Select the title and ytd_sales from the table titles. Order them by the year to date sales.

In [ ]:
(
titles
    [['title', 'ytd_sales']]
    .sort_values(by='ytd_sales')
)

                                                title  ytd_sales
6                  The Psychology of Computer Cooking          0
9                                       Net Etiquette          0
12                                  Life Without Fear        111
15  Onions, Leeks, and Garlic: Cooking Secrets of ...        375
10  Computer Phobic AND Non-Phobic Individuals: Be...        375
4                   Silicon Valley Gastronomic Treats       2032
11                                Is Anger the Enemy?       2045
14                Emotional Security: A New Algorithm       3336
1   Cooking with Computers: Surreptitious Balance ...       3876
13      Prolonged Data Deprivation: Four Case Studies       4072
0                 The Busy Executive's Database Guide       4095
8                           Secrets of Silicon Valley       4095
3                       Straight Talk About Computers       4095
17                                     Sushi, Anyone?       4095
7                            But Is It User Friendly?       8780
16          Fifty Years in Buckingham Palace Kitchens      15096
2                     You Can Combat Computer Stress!      18722
5                               The Gourmet Microwave      22246

### Hint:

In SQL, the syntax is:

```sql
SELECT
	title,
    ytd_sales
FROM
	titles
ORDER BY
	ytd_sales;
```

## 2. Repeat the same query, but this time sort the titles in descending order

In [ ]:
(
titles
    [['title', 'ytd_sales']]
    .sort_values(by = 'ytd_sales', ascending = False)
)

                                                title  ytd_sales
5                               The Gourmet Microwave      22246
2                     You Can Combat Computer Stress!      18722
16          Fifty Years in Buckingham Palace Kitchens      15096
7                            But Is It User Friendly?       8780
0                 The Busy Executive's Database Guide       4095
8                           Secrets of Silicon Valley       4095
17                                     Sushi, Anyone?       4095
3                       Straight Talk About Computers       4095
13      Prolonged Data Deprivation: Four Case Studies       4072
1   Cooking with Computers: Surreptitious Balance ...       3876
14                Emotional Security: A New Algorithm       3336
11                                Is Anger the Enemy?       2045
4                   Silicon Valley Gastronomic Treats       2032
10  Computer Phobic AND Non-Phobic Individuals: Be...        375
15  Onions, Leeks, and Garlic: Cooking Secrets of ...        375
12                                  Life Without Fear        111
6                  The Psychology of Computer Cooking          0
9                                       Net Etiquette          0

### Hint:

In SQL, the syntax is:

```sql
SELECT
	title,
    ytd_sales
FROM
	titles
ORDER BY
	ytd_sales desc;
```

## 3. Select the top 5 titles with the most ytd_sales from the table titles

In [ ]:
(
titles
    .sort_values(by = 'ytd_sales', ascending = False)
    .head(n = 5)
)

,title_id,title,type,pub_id,price,advance,royalty,ytd_sales,notes,pubdate
5,MC3021,The Gourmet Microwave,mod_cook,877,2.99,15000.0,24,22246,Traditional French gourmet recipes adapted for...,1991-06-18 00:00:00
2,BU2075,You Can Combat Computer Stress!,business,736,2.99,10125.0,24,18722,The latest medical and psychological technique...,1991-06-30 00:00:00
16,TC4203,Fifty Years in Buckingham Palace Kitchens,trad_cook,877,11.95,4000.0,14,15096,More anecdotes from the Queen's favorite cook ...,1991-06-12 00:00:00
7,PC1035,But Is It User Friendly?,popular_comp,1389,22.95,7000.0,16,8780,"A survey of software for the naive user, focus...",1991-06-30 00:00:00
0,BU1032,The Busy Executive's Database Guide,business,1389,19.99,5000.0,10,4095,An overview of available database systems with...,1991-06-12 00:00:00

### Hint:

In SQL, the syntax is:

```sql
SELECT title, ytd_sales FROM titles
ORDER BY ytd_sales DESC
LIMIT 5;
```

## 4. What's the maximum amount of books ever sold in a single sale?

In [ ]:
sales['qty'].max()

75

### Hint:

In SQL, the syntax is:

```sql
SELECT MAX(qty)
FROM sales;
```

## 5. What's the price of the cheapest book?

In [ ]:
titles['price'].min()

0.0

### Hint:

In SQL, the syntax is:

```sql
SELECT MIN(price)
FROM titles;
```

## 6. How many rows are there in the table authors?

In [ ]:
authors['au_id'].count()

23

### Hint:

In SQL, the syntax is:

```sql
SELECT COUNT(au_id) 
FROM authors;
```

## 7. What's the total amount of year-to-date sales?

In [ ]:
(
titles
    ['ytd_sales']
    .sum()
)

97446

### Hint:

In SQL, the syntax is:

```sql
SELECT SUM(ytd_sales)
FROM titles;
```

## 8. What's the average price of books?

In [ ]:
(
titles
    ['price']
    .mean()
)

13.125555555555556

### Hint:

In SQL, the syntax is:

```sql
SELECT AVG(price)
FROM titles;
```

## 9. In a single query, select the count, average and sum of quantity in the table sales

In [ ]:
(
sales
    .aggregate({'qty': ['count', 'mean', 'sum']})
)

             qty
count   21.00000
mean    23.47619
sum    493.00000

### Hint:

In SQL, the syntax is:

```sql
SELECT COUNT(qty), AVG(qty), SUM(qty)
FROM sales;
```